VITE_WALLET_CONNECT_PROJECT_ID=2223c786bbb8c1de498f4c0738eba349
# https://docs.coingecko.com/v3.0.1/reference/simple-token-price
VITE_COINGECKO_API_KEY=your_api_key
VITE_CONTRACT_ADDRESS=0x54512d5BC9D5Ec18249A04AA28d9918F1d272f44
VITE_CHAIN_ID=56 # BSC Mainnet 
# type Cluster = 'devnet' | 'testnet' | 'mainnet-beta';
VITE_SOL_CLUSTER=devnet
VITE_SOL_VAULT_ADDRESS=8PCjMuYBpWdjadterCxZmiSYg419GJFJEgHbtwZE81p2