VITE_WALLET_CONNECT_PROJECT_ID=2223c786bbb8c1de498f4c0738eba349
# https://docs.coingecko.com/v3.0.1/reference/simple-token-price
VITE_COINGECKO_API_KEY=your_api_key
VITE_CONTRACT_ADDRESS=0x54512d5BC9D5Ec18249A04AA28d9918F1d272f44
VITE_CHAIN_ID=56 # BSC Mainnet 
# type Cluster = 'devnet' | 'testnet' | 'mainnet-beta';
VITE_SOL_CLUSTER=devnet
VITE_SOL_VAULT_ADDRESS=FHacdpkrifo7S22LsvejdnoHL1ihnoA4rGkhBxEyhvNg
# https://solscan.io/tx/2RueuEtqn9VbNmpN2UQmW5whPn4PH7A8SBq77CLKjZkMsDqTieLgP2ScofpTZpoMFLaW58iDEkXGX1JphJ4jt6xb?cluster=devnet
VITE_SOL_TOTAL_OFFERED=100
VITE_SOL_ACTIVATION_POINT=1746615900